@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
    body{
        background-color: rgb(0, 139, 23);
    }  
    nav{
        background-color: orange;
        display: flex;
        justify-content: space-around;
    }


}
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ 

    body{
        background-color: rgb(10, 9, 10);
    }  
    nav{
        background-color: orange;
        display: flex;
        justify-content: space-around;
    }


}
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 

    body{
        background-color: rgb(0, 2, 139);
    }  
    nav{
        background-color: orange;
        display: flex;
        justify-content: space-around;
    }




}
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 

    body{
        background-color: hotpink;
    }  
    nav{
        background-color: orange;
        display: flex;
        justify-content: space-around;
    }


}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 

    body{
        background-color: rgb(139, 0, 0);
    }  
    nav{
        background-color: orange;
        display: flex;
        justify-content: space-around;
    }


}
@media (min-width:1281px) { /* hi-res laptops and desktops */ 


  body{
      background-color: darkmagenta;
  }  
  nav{
      background-color: orange;
      display: flex;
      justify-content: space-around;
  }
}


